header{
   
}



h1:nth-of-type(1){
    text-align: center;
    color: white;
    margin: 0px;
    padding-top: 30px;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
}

div:nth-of-type(1)>ul>li{
    display: inline-block;
    padding-right: 10px;
    font-size: 20px;
}

div:nth-of-type(1){
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

a{
    color:white;
    font-family:sans-serif;
    text-decoration: none;
    border: solid ;
    padding: 10px;
}



nav img{
    display: inline;
    width: 250px;
    padding: 8%;
}

body{
    background-image: url(https://cdn.wallpapersafari.com/91/84/eEilDA.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

footer{
    text-align: center;
    font-size: 20px;
    /* background-color: brown; */
    height: 70px;
    padding-top: 35px;
    color: white;
}
